@use '../../styles/mixins.scss';

.component {
  text-align: center;
}

.button {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #ff006e;
  margin-top: 20px;
  cursor: pointer;
}

.img {
  @include mixins.fluidMaxSize(150);
}
